<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Doctor Management System</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="../app/Doctor.js"></script>
</head>

<body ng-app="DoctorManagement" ng-controller="DoctorController">
	<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://cdn.pixabay.com/photo/2012/04/12/12/59/red-cross-29930_960_720.png" href="/" alt="Hospital"
                    width="70" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/doctor">Doctors
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nurse">Nurses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/patient">Patients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/medicine">Medicines</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
	<div class="container">
		<h3 class="text-dark">Doctors Page</h3>
		<div>
			<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal1" style="margin-bottom: 20px">
				Add Doctor
			</button>
			<!-- The Modal -->
			<div class="modal" id="myModal1">
				<div class="modal-dialog">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Add Doctor</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<input type="hidden" name="_token" value="">
							<div class="form-group">
								<label class="control-label">Name</label>
								<div>
									<input type="text" ng-model="doctor.name" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">Adress</label>
								<div>
									<input type="text" ng-model="doctor.address" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">ID Card</label>
								<div>
									<input type="text" ng-model="doctor.idcard" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">Birthday</label>
								<div>
									<input type="date" ng-model="doctor.birthday" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">Occupation level</label>
								<div>
									<input type="text" ng-model="doctor.joblv" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">Seniority</label>
								<div>
									<input type="text" ng-model="doctor.seniority" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">Literacy</label>
								<div>
									<input type="text" ng-model="doctor.literacy" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">Expertise</label>
								<div>
									<input type="text" ng-model="doctor.expertise" class="form-control input-lg" onfocus="this.value=''">
								</div>
							</div>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" ng-click="create()" class="btn btn-danger" data-dismiss="modal">Save</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>

					</div>
				</div>
			</div>

			<div class="modal" id="myModal2">
				<div class="modal-dialog">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Add Doctor</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<input type="hidden" name="_token" value="">
							<div class="form-group">
								<label class="control-label">Name</label>
								<div>
									<input type="text" ng-model="doctor.name" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">Adress</label>
								<div>
									<input type="text" ng-model="doctor.address" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">ID Card</label>
								<div>
									<input type="text" ng-model="doctor.idcard" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">Birthday</label>
								<div>
									<input type="date" ng-model="doctor.birthday" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">Occupation level</label>
								<div>
									<input type="text" ng-model="doctor.joblv" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">Seniority</label>
								<div>
									<input type="text" ng-model="doctor.seniority" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">Literacy</label>
								<div>
									<input type="text" ng-model="doctor.literacy" class="form-control input-lg" onfocus="this.value=''">
								</div>
								<label class="control-label">Expertise</label>
								<div>
									<input type="text" ng-model="doctor.expertise" class="form-control input-lg" onfocus="this.value=''">
								</div>
							</div>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" ng-click = "submit()" class="btn btn-danger" data-dismiss="modal">Save</button>
							<button type="button" class="btn btn-danger"  data-dismiss="modal">Close</button>
						</div>

					</div>
				</div>
			</div>

			<div>
				
				<table class="table table-bordered table-hover">
					<thead class="thead-light">
						<tr>
							<th>Name</th>
							<th>Adress</th>
							<th>ID Card</th>
							<th>Birthday</th>
							<th>Occupation level</th>
							<th>Seniority</th>
							<th>Literacy</th>
							<th>Expertise</th>
							<th style="width : 160px">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "doctor in doctors">
							<td>{{ doctor.name }}</td>
							<td>{{ doctor.address }}</td>
							<td>{{ doctor.idcard }}</td>
							<td>{{ doctor.birthday }}</td>
							<td>{{ doctor.joblv }}</td>
							<td>{{ doctor.seniority }}</td>
							<td>{{ doctor.literacy }}</td>
							<td>{{ doctor.expertise }}</td>
							<td>
								<button class="btn btn-danger" ng-click="edit(doctor)" data-toggle="modal" data-target="#myModal2" >Edit</button>
								<button class="btn btn-danger" ng-click="delete(doctor)">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- /.container -->
	
</body>

</html>